* {
    margin: 0;
    padding: 0;
    transition: 0.2s linear;
    font-family: "Inter-Regular";
    scroll-behavior: smooth;
}

.add-task {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    justify-content: space-between;
    transition: 1s;
    left: calc(50% - 1116px/2);
    top: calc(50% - 870px/2);
    border-radius: 30px;
    width: 1116px;
    height: 870px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.add-task-inline {
    height: 100%;
    width: 100%;
}

.form-wrapper {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    left: 0;
}

h1 {
    margin-top: 64px;
    margin-bottom: 32px;
}

.task-form {
    display: flex;
    flex-direction: column;
    width: 980px;
    height: 100%;
    font-size: 20px;
}

.input-wrapper {
    display: flex;
    justify-content: space-between;
}

.input-left {
    display: flex;
    flex-direction: column;
}

.separator {
    width: 0px;
    height: 100%;
    border: 1px solid #D1D1D1;
}

.input-right {
    display: flex;
    flex-direction: column;
}

.task-title {
    border: 1px solid #D1D1D1;
    display: flex;
    gap: 32px;
    border-radius: 10px;
    padding-left: 12px;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    width: 440px;
    height: 48px;
    margin-bottom: 32px;
    background-color: white;
}

.input-name {
    padding-bottom: 16px;
}

.task-date {
    flex-grow: 0;
}

.task-lowsection {
    margin-top: auto;
    margin-bottom: 62px;
    display: flex;
    justify-content: space-between;
}

.task-remark {
    display: flex;
    align-items: flex-end;
}

.task-buttons {
    display: flex;
    gap: 24px;
}

.cancelButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    background: #FFFFFF;
    border: 1px solid #2A3647;
    border-radius: 10px;
    width: 126px;
    gap: 8px;
    font-size: 20px;
    cursor: pointer;
}

.cancelButton:hover {
    transition: 100ms;
    border: 2px solid #29ABE2;
    color: #29ABE2;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.cancelButton:hover .iconSVG path{
    transition: 100ms;
    stroke: #29ABE2;
}

.createContactButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    background: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 10px;
    width: 200px;
    color: white;
    font-size: large;
    gap: 8px;
    font-weight: bold;
    text-wrap: nowrap;
    transition: 125ms;
    cursor: pointer;
}

.createContactButton:hover {
    background: #29ABE2;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-color: #29ABE2;
}

input {
    border: none;
    gap: 32px;
    flex-grow: 1;
    outline: none;
    font-size: 20px;
}

textarea {
    border: none;
    gap: 32px;
    flex-grow: 1;
    outline: none;
    font-size: 20px;
    height: 100%;
    max-height: 120px;
}

.task-text {
    height: 120px;
    padding: 12px;
}

.task-title:focus-within {
    border: 1px solid #000;
}

.prio-buttons {
    display: flex;
    justify-content: space-between;
}

.prio-task {
    width: 136px;
    height: 56px;
    padding: 0;
    justify-content: center;
    box-sizing: border-box;
    gap: 12px;
    cursor: pointer;
}

.prio-alta img {
    filter: brightness(0) saturate(100%) invert(35%) sepia(60%) saturate(5519%) hue-rotate(0deg) brightness(101%) contrast(107%)
}

.prio-media img {
    filter: brightness(0) saturate(100%) invert(59%) sepia(65%) saturate(842%) hue-rotate(0deg) brightness(103%) contrast(103%)
}

.prio-baja img {
    filter: brightness(0) saturate(100%) invert(98%) sepia(64%) saturate(3663%) hue-rotate(32deg) brightness(94%) contrast(87%)
}