.mainContainer {
    height: 100%;
    margin-left: 40px;
    margin-right: 40px;
}

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.findAndAddTask {
    display: flex;
    justify-content: space-around;
}

.title {
    font-family: "Inter-700";
    font-size: 61px;
    font-weight: 700;
}


.findAndAddTask {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 32px;
    width: 604px;
    height: 40px;
}

.findTask {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    width: 312px;
    height: 38px;
    background: #FFFFFF;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 4px;
    box-shadow: 0 0 0 2px transparent;
    transition: box-shadow 0.2s ease-in-out;
}

.addTaskButton {
    color: #FFFFFF;
    font-family: "inter-700";
    box-sizing: border-box;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    width: 160px;
    height: 40px;
    background: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 10px;
    transition: transform 0.3s;
}

.addTaskButton:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.add {
    height: 16px;
    width: 16px;
    margin-left: 20%;
}

.findTaskContainer {
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    width: 312px;
    height: 40px;
    background: #FFFFFF;
    font-size: 16px;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
}

.lupe {
    margin-left: 8px;
    transition: transform 0.3s;
}

.findeButton {
    display: flex;
    align-items: center;
    width: 48px !important;
    justify-content: space-between;
}

.findeButton:hover .lupe {
    transform: scale(1.2);
    cursor: pointer;
}

.boardContainer {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.taskHeader {
    font-size: 16px;
    font-family: "Inter-700";
    color: #42526E;
    margin-bottom: 24px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}

.noTask {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 246px;
    height: 48px;
    background: #E7E7E7;
    border: 1px dashed #A8A8A8;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
}


@keyframes flyInRight {
    from {
        left: 100%;
    }

    to {
        left: calc(50% - 74px / 2);
    }
}

.task-overlay {
    z-index: 999;
    display: flex;
    flex-direction: column;
    padding: 48px 40px;
    max-height: 80vh;
    width: 400px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    border-radius: 30px;
    position: fixed;
    background: white;
    left: 50%;
    top: 50%;
    transform: translate(-30%, -50%);
    animation: flyInRight 500ms forwards;
    gap: 24px;
}

.task-overlay-head {
    display: flex;
    justify-content: space-between;
}

.subtasks-overlay {
    overflow-y: auto;
    max-height: 200px;
}

.task-overlay-category {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    text-align: left;
    color: white;
    background: #0038FF;
    padding: 4px 24px 4px 24px;
    border-radius: 8px;
}

.technical-task {
    background: #1FD7C1;
}

.user-story-task {
    background: #0038FF;
}

.task-overlay-assigned {
    max-height: 200px;
    overflow-y: auto;
}

.task-overlay-assigned::-webkit-scrollbar {
    width: 6px;
}

.task-overlay-assigned::-webkit-scrollbar-track {
    border-radius: 10px;
}

.task-overlay-assigned::-webkit-scrollbar-thumb {
    background: #A8A8A8;
    border-radius: 10px;
}

.task-overlay-title {
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
    text-align: left;
}

.task-overlay-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.task-overlay-foot {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.task-overlay-ass-person {
    display: flex;
    align-items: center;
}

.task-overlay-text td:first-child {
    width: 120px;
}

.task-overlay-text td {
    padding-bottom: 24px;
}

.task-overlay-text tr:last-child td {
    padding-bottom: 0;
}

.overlay-action {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 6px;
}

.taskHeaderAddButton {
    cursor: pointer;
}

.taskContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 10px;
    height: fit-content;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 24px;
    transition: transform 0.2s;
}

.taskContainer:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.taskCategory {
    color: #FFFFFF;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 16px;
    border-radius: 8px;
    margin-bottom: 16px;
}

.taskTitle {
    font-family: "inter-700";
    width: 220px;

    font-weight: 700;
    font-size: 19px;
    line-height: 120%;
    color: #2A3647;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.taskText {
    width: 220px;
    height: 38px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #A8A8A8;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 26px;
}

.progress {
    width: 40%;
    background-color: #ddd;
    border-radius: 15px;
    height: 12px;
    margin-right: 24px;
}

.progress-bar {
    height: 12px;
    background: #4589FF;
    text-align: center;
    line-height: 20px;
    border-radius: 15px;
    color: white;
}

.subTaskContainer {
    display: flex;
    align-items: center;
    width: 220px;
    height: 16px;
    flex: none;
    flex-grow: 0;
    margin-top: 16px;
    margin-bottom: 8px;
}

.taskFooter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-none{
    display: none;
}

.initialLogoContainer {
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: 10px;
}

.initialsContact-small {

    width: 30px; /* oder eine feste Breite, die zu deinem Design passt */
    height: 30px; /* oder eine feste Höhe, die zu deinem Design passt */
    background: #ccc; /* Beispielhintergrundfarbe */
    border-radius: 50%; /* Kreisförmige Initialen-Logos */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px; 
    position: relative;
    z-index: 1; 
}


.priority-icon {
    background-color: white;
    height: 24px;
    width: 24px;
}

.task-overlay-ass-person {
    margin-top: 12px;
}

.margin-left-10 {
    margin: -10px;
}

.margin-top-12 {
    margin-top: 12px;
}

.d-mobile {
    display: none;
}

.d-flex {
    display: flex;
    flex-direction: column;
}

.subtask-overlay {
    margin-bottom: 12px;
}

.subtasks-list-overlay {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.subtasks-listed {
    display: flex;
    align-items: center;
    gap: 16px;
}

.checkbox-subtask {
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: none !important;
}


.checkbox-subtask:hover {
    background-color: rgba(15, 10, 10, 0.192);
    border-radius: 50%;
    transition: none !important;
}


.task-edit-overlay {

    z-index: 999;
    display: flex;
    flex-direction: column;
    padding: 48px 40px;
    width: 525px;
    max-height: 800px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    border-radius: 30px;
    position: fixed;
    background: white;
    left: 50%;
    top: 50%;
    transform: translate(-30%, -50%);
    gap: 24px;
}

.task-edit {
    overflow-y: auto;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #A8A8A8;
    border-radius: 10px;
}


.task-edit-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-edit {
    /* overflow-y: auto; */
    padding-right: 10px;
}

.edit-low-section {
padding-bottom: 0 !important;
margin-bottom: 0 !important;
margin-top: 24px !important;
}

.edit-task-headline {
    margin-top: 0 !important;
}

.rotate {
  rotate: 5deg;
}

.highlightBorder {
    border: 1px dashed black;
  }

  .closeButtonBackground {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 15px;
}


.closeButtonBackground:hover {
    background: #F0F0F0;
    cursor: pointer;
}


@media (max-width: 920px){
    .boardContainer{
        flex-direction: column;
    }

    .Header{
        flex-direction: column;
        align-items: flex-start;
    }

    .title{
        font-size: 47px !important;
    }

    .mainContainer{
        position: relative;
        height: 100%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 80px;
        margin-bottom: 50%;
    }

    .findAndAddTask{
        flex-direction: column-reverse;
        align-items: flex-end;
        width: 100%;
        margin: 8px;
    }

    .addTaskButton{
        font-size: 0;
        top: 10px;
        width: 12%;
        margin-right: 24px;
        position: absolute;
    }

    .d-none-mobile {
        display: none;
    }

    .d-mobile {
        display: block;
    }
}