.mainContainer {
    height: 100%;
    margin-left: 40px;
    margin-right: 40px;
}

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.findAndAddTask {
    display: flex;
    justify-content: space-around;
}

.title {
    font-family: "Inter-700";
    font-size: 61px;
    font-weight: 700;
}


.findAndAddTask {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 32px;
    width: 604px;
    height: 40px;
}

.findTask {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    width: 312px;
    height: 38px;
    background: #FFFFFF;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 4px;
    box-shadow: 0 0 0 2px transparent;
    transition: box-shadow 0.2s ease-in-out;
}

.addTaskButton {
    color: #FFFFFF;
    font-family: "inter-700";
    box-sizing: border-box;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    width: 160px;
    height: 40px;
    background: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 10px;
    transition: transform 0.3s;
}

.addTaskButton:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.add {
    height: 16px;
    width: 16px;
    margin-left: 20%;
}

.findTaskContainer {
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    width: 312px;
    height: 40px;
    background: #FFFFFF;
    font-size: 16px;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
}

.lupe {
    margin-left: 15%;
    transition: transform 0.3s;
}

.findeButton {
    display: flex;
    align-items: center;
    width: 48px !important;
    justify-content: space-between;
}

.findeButton:hover .lupe {
    transform: scale(1.2);
    cursor: pointer;
}

.boardContainer {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.taskHeader {
    font-size: 16px;
    font-family: "Inter-700";
    color: #42526E;
    margin-bottom: 24px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}

.noTask {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 246px;
    height: 48px;
    background: #E7E7E7;
    border: 1px dashed #A8A8A8;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
}


@keyframes flyInRight {
    from {
        left: 100%;
    }

    to {
        left: calc(50% - 74px / 2);
    }
}

.task-overlay {
    z-index: 999;
    display: flex;
    flex-direction: column;
    padding: 48px 40px;
    max-height: 931px;
    width: 525px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    border-radius: 30px;
    position: absolute;
    background: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: flyInRight 500ms forwards;
    gap: 24px;
}

.task-overlay-head {
    display: flex;
    justify-content: space-between;
}

.task-overlay-category {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    text-align: left;
    color: white;
    background: #0038FF;
    padding: 4px 24px 4px 24px;
    border-radius: 8px;
}

.technical-task {
    background: #1FD7C1;
}

.user-story-task {
    background: #0038FF;
}


.task-overlay-title {
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
    text-align: left;
}

.task-overlay-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.task-overlay-foot {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.task-overlay-ass-person {
    display: flex;
    align-items: center;
}

.task-overlay-text td:first-child {
    width: 120px;
}

.task-overlay-text td {
    padding-bottom: 24px;
}

.task-overlay-text tr:last-child td {
    padding-bottom: 0;
}

.overlay-action {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 6px;
}

.taskHeaderAddButton {
    cursor: pointer;
}