.mainContainer {
    height: 100%;
    margin-left: 40px;
    margin-right: 40px;
}

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.findAndAddTask {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 32px;
    width: 604px;
    height: 40px;
}

.title {
    font-family: "Inter-700";
    font-size: 61px;
    font-weight: 700;
}

.transparent-bckgrnd {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    overflow: hidden;
}

.findTask {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    width: 312px;
    height: 38px;
    background: #FFFFFF;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 4px;
    box-shadow: 0 0 0 2px transparent;
    transition: box-shadow 0.2s ease-in-out;
}

.addTaskButton {
    color: #FFFFFF;
    font-family: "inter-700";
    box-sizing: border-box;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    width: 160px;
    height: 40px;
    background: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 10px;
    transition: transform 0.3s;
}

.addTaskButton:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.add {
    height: 16px;
    width: 16px;
    margin-left: 20%;
}

.findTaskContainer {
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex-direction: row;
    padding: 8px 16px;
    width: 312px;
    height: 40px;
    background: #FFFFFF;
    font-size: 16px;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
}

.lupe {
    margin-left: 8px;
    transition: transform 0.3s;
}

.findeButton {
    display: flex;
    align-items: center;
    width: 48px !important;
    justify-content: space-between;
}

.findeButton:hover .lupe {
    transform: scale(1.2);
    cursor: pointer;
}

.boardContainer {
    display: flex;
    justify-content: space-between;
    gap: 26px;
}

.taskHeader {
    font-size: 20px;
    font-family: "Inter-700";
    color: #42526E;
    margin-bottom: 24px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}

.noTask {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    min-width: 172px;
    height: 48px;
    background: #E7E7E7;
    border: 1px dashed #A8A8A8;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
}

@keyframes flyInRight {
    from {
        left: 100%;
    }

    to {
        left: calc(50% - 74px / 2);
    }
}

.task-overlay {
    z-index: 999;
    display: flex;
    flex-direction: column;
    padding: 48px 40px;
    max-height: 85vh;
    justify-content: space-between;
    width: 400px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    border-radius: 30px;
    position: fixed;
    background: white;
    left: 50%;
    top: 50%;
    transform: translate(-30%, -50%);
    animation: flyInRight 500ms forwards;
    gap: 24px;
    max-width: 100%;
    overflow: hidden;
}

.task-overlay-head {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.subtasks-overlay {
    overflow-y: auto;
    max-height: 80px;
}

.task-overlay-category {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    text-align: left;
    color: white;
    background: #0038FF;
    padding: 4px 24px;
    border-radius: 8px;
}

.technical-task {
    background: #1FD7C1;
}

.arrows-move-list {
    display: none;
    gap: 16px;
    height: 20px;
}

.user-story-task {
    background: #0038FF;
}

.arrow-move {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10px;
    width: 10px;
    padding: 5px;
}

.task-overlay-assigned {
    max-height: 120px;
    overflow-y: auto;
}

.task-overlay-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.task-overlay-title {
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
    font-size: 61px;
    margin-bottom: 12px;
}

.task-overlay-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    max-height: 60px;
    text-align: left;
    overflow-y: auto;
}

.task-overlay-foot {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.task-overlay-ass-person {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.task-overlay-text td:first-child {
    width: 120px;
}

.task-overlay-text td {
    padding-bottom: 24px;
}

.task-overlay-text tr:last-child td {
    padding-bottom: 0;
}

.overlay-action {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 6px;
}

.taskHeaderAddButton {
    cursor: pointer;
}

.taskContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 10px;
    height: fit-content;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 24px;
    transition: transform 0.2s;
}

.taskContainer:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.taskCategory {
    color: #FFFFFF;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 16px;
    border-radius: 8px;
    margin-bottom: 16px;
}

.taskTitle {
    font-family: "inter-700";
    font-weight: 700;
    font-size: 19px;
    line-height: 120%;
    color: #2A3647;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.taskText {
    width: 220px;
    height: 38px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #A8A8A8;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 26px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    /* Standard property (not yet fully supported in all browsers) */
    display: box;
    box-orient: vertical;
    line-clamp: 2;
}

.progress {
    width: 40%;
    background-color: #ddd;
    border-radius: 15px;
    height: 12px;
    margin-right: 24px;
}

.progress-bar {
    height: 12px;
    background: #4589FF;
    text-align: center;
    line-height: 20px;
    border-radius: 15px;
    color: white;
}

.subTaskContainer {
    display: flex;
    align-items: center;
    width: 220px;
    height: 16px;
    flex: none;
    flex-grow: 0;
    margin-top: 16px;
    margin-bottom: 8px;
}

.taskFooter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-none {
    display: none;
}

.initialLogoContainer {
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: 10px;
}

.initialsContact-small {
    width: 30px;
    height: 30px;
    background: #ccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
    position: relative;
    z-index: 1;
}

.priority-icon {
    background-color: white;
    height: 24px;
    width: 24px;
}

.margin-left-10 {
    margin: -10px;
}

.margin-top-12 {
    margin-top: 12px;
}

.d-mobile {
    display: none;
}

.d-flex {
    display: flex;
    flex-direction: column;
}

.subtask-overlay {
    margin-bottom: 12px;
}

.subtasks-list-overlay {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.subtasks-listed {
    display: flex;
    align-items: center;
    gap: 16px;
}

.checkbox-subtask {
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: none !important;
}

.checkbox-subtask:hover {
    background-color: rgba(15, 10, 10, 0.192);
    border-radius: 50%;
    transition: none !important;
}

.task-edit-overlay {
    z-index: 999;
    display: flex;
    flex-direction: column;
    padding: 48px 40px;
    width: 525px;
    max-height: 800px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    border-radius: 30px;
    position: fixed;
    background: white;
    left: 50%;
    top: 50%;
    transform: translate(-30%, -50%);
    gap: 24px;
    height: 80%;
}

.margn-btm-32px {
    margin-bottom: 32px;
}

.task-edit {
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 8px;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #A8A8A8;
    border-radius: 10px;
}

.task-edit-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-edit {
    padding-right: 10px;
}

.edit-low-section {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    margin-top: 24px !important;
}

.edit-task-headline {
    margin-top: 0 !important;
}

.rotate {
    rotate: 5deg;
}

.highlightBorder {
    border: 1px dashed black;
}

.title {
    font-size: 47px !important;
}

.closeButtonBackground {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 15px;
}

.closeButtonBackground:hover {
    background: #F0F0F0;
    cursor: pointer;
}

.categoryContainer {
    width: 100%
}

.priority-overlay {
    display: flex;
    align-items: center;
    gap: 12px;
}

@media (max-width: 1350px) {
    .boardContainer {
        gap: 16px;
    }
}

@media (max-width: 1380px) {
    .boardContainer {
        flex-direction: column;
    }

    .taskContainer {
        width: 240px;
    }

    .arrows-move-list {
        display: flex;
    }

    .task-lists-board {
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
    }

    .Header {
        flex-direction: column;
        align-items: flex-start;
        width: 250px;
    }

    .mainContainer {
        position: relative;
        height: 100%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 80px;
        margin-bottom: 50%;
    }

    .findAndAddTask {
        flex-direction: column-reverse;
        align-items: flex-end;
        width: 290px;
        margin: 0px;
        margin-bottom: 40px;
    }

    .findTaskContainer {
        width: 100%;
    }

    .findTask {
        width: 100%;
    }

    .findeButton {
        width: 30px !important;
    }

    .addTaskButton {
        font-size: 0;
        top: 10px;
        width: 12%;
        height: 36px;
        position: absolute;
        left: 85%;
    }

    .d-none-mobile {
        display: none;
    }

    .d-mobile {
        display: block;
    }

    .add {
        margin: 0;
    }
}

@media (max-width: 920px) {
    .task-overlay {
        transform: translate(-42%, -50%);
    }

    .task-edit-overlay {
        transform: translate(-50%, -50%);
    }

    .add-task-title {
        margin-top: 0;
        background-color: #F6F7F8;
        width: 100%;
        z-index: 999;
        padding-top: 0 !important;
        position: relative !important;
    }
}

@media (max-width: 620px) {
    .task-edit-overlay {
        width: 100%;
        height: 100%;
        max-height: 100% !important;
    }

    .task-edit {
        padding: 16px;
    }
}
