.contactsContent {
    position: absolute;
    width: 456px;
    height: calc(100vh - 136px);
    left: 232px;
    top: 136px;
    background: #FFFFFF;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
    z-index: 900;
}


::-webkit-scrollbar-track {
    background: #FFFFFF;
}


::-webkit-scrollbar {
    width: 8px;
}


::-webkit-scrollbar-thumb {
    background: #A8A8A8;
    border-radius: 4px;
}


.buttonDiv{
position: absolute;
display: flex;
align-items: center;
justify-content: center;
width: 456px;
height: 101px;
left: calc(50% - 456px/2);
top: 0px;
background: #FFFFFF;
}


.addNewContact {
box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 0px;
gap: 16px;
width: 352px;
height: 56px;
background: #2A3647;
border: 1px solid #2A3647;
border-radius: 10px;
}


.addNewContact p {
width: 175px;
height: 25px;
font-family: "Inter-Regular";
font-style: normal;
font-weight: 700;
font-size: 21px;
line-height: 120%;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 0;
}


.addContactImg {
width: 32px;
height: 32px;
flex: none;
order: 1;
flex-grow: 0;
}


.addNewContact:hover {
    background: #29ABE2;
    border: unset;
    position: relative;
    left: 1px;
    top: 1px;
    box-shadow: 0 4px 5px #B5B5B5;
}


.contactsText {
    width: 356px;
    height: calc(100vh - 237px);
    margin-top: 101px;
    overflow-y: scroll;
    scrollbar-color:#A8A8A8;
    padding: 0 50px 0 50px;
}


.contactCart {
    height: 100px;
    display: flex;
    align-items: center;
    border-radius: 16px;
}


.contactCart:hover {
    cursor: pointer;
    box-shadow: inset 0 -80px 20px 0 #F0F0F0;
}


.contactSort {
    border-bottom: solid 1px #DDDDDD;
    width: 100%;
}


.contactSort p {
    padding-left: 30px;
    font-size: x-large;
}


.initialsContactCart {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    font-size: large;
    color: white;
    border-radius: 25px;
    background: orange;
    margin: 0 30px;
}


.initialsContactCart p {
    margin: 0;
}


.contactCartName {
    font-size: x-large;
    margin: 0;
}


.addContactPopupBackground {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 990;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.3);
}


.addContactPopup {
    display: flex;
    z-index: 999;
    height: 50vh;
    width: 80vw;
    background: #FFFFFF;
    border-radius: 30px;
}


.addContactCardLeftSide {
    display: flex;
    justify-content: center;
    width: 40%;
    height: 100%;
    background: #2A3647;
    border-radius: 25px 0 0 25px;
}


.addContactCardLeftSide img{
    height: 68px;
}


.addContactCardLeftSideContent {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100%;
    width: 80%;
    color: white;
    font-size: xx-large;
    text-wrap: nowrap;
}


.addContactCardLeftSideContent h1 {
    margin: 16px 0;
}


.addContactCardLeftSideContent p {
    margin: 0;
    font-size: 26px;
}


.addContactCardLeftSideBreake {
    margin-top: 8px;
    height: 3px;
    background-color: #29ABE2;
    width: 90px;
}


.addContactCardRightSide {
    width: 60%;
    height: 100%;
}


.addContactCardRightSideContent {
    display: flex;
    align-items: center;
}


.addContactCardRightSideContentImg {
    height: 50px;
    width: 50px;
    background: #2A3647;
}


.addContactCardRightSideContentInitials {

}