@font-face {
    font-family: "Inter-Regular";
    src: url("./fonts/inter-v12-latin-regular.woff2") format('woff2');
}

@font-face {
    font-family: "Inter-700";
    src: url("./fonts/inter-v12-latin-700.woff2") format('woff2');
}

body {
    font-family: "Inter-Regular";
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F7F8;
    padding-left: 232px;
    padding-top: 136px;
}

a {
    text-decoration: none;
    transition: transform 0.3s ease;
}

a:hover {
    transform: scale(1.1);
}

.leftNavbar {
    width: 232px;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    background-color: #2A3647;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
}

.navbarLogo {
    height: 121.97px;
    width: 100.03px;
    color: white;
    padding: 64px 0px 64px 0px;
}


.navbarMenu {
    height: 292px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;  
}

.navbarSummary {
    height: 100%;
    width: 100%;
}

.navbar {
    font-size: 16px;
    color: #CDCDCD !important;
    padding: 8px, 56px, 8px, 56px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    flex: none;
    order: 1;
    flex-grow: 0;
    height: 46px;
    display: flex;
}

.navbarIcon{
    height: 30px;
    width: 30px;
    padding-right: 8px;
    color: #CDCDCD !important;
}


.navbarFooter {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 160px 0px 0px 52px;
    gap: 4px;
    width: 232px;
    margin-bottom: 48px;
    color: #CDCDCD !important;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.navbarFooter a {
    color: inherit !important; /* Verwendet die gleiche Farbe wie das übergeordnete Element */
    text-decoration: none !important; /* Entfernt die Standardtextdekoration von Links */
    transition: transform 0.3s ease; /* Fügt eine sanfte Übergangsanimation für die Skalierung hinzu */
    margin: 8px;
}

.navbarFooter a:hover {
    transform: scale(1.1); /* Fügt einen leichten Skaleneffekt beim Hover hinzu */
}

.header {
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    max-width: 100vw;
    width: -webkit-fill-available;
    height: 96px;
    left: 0px;
    z-index: 900;
    top: 0px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 40px 20px 348px;
    gap: 34px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}


.headerIcons{
    display: flex;
    width: 104px;
    justify-content: space-between;
    align-items: center;
}


.UserProfileInitials {
    box-sizing: border-box;
    width: 56px;
    height: 56px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border: 3px solid #2A3647;
    border-radius: 50%;
    color: #29ABE2;
}


.legalNoticeContent {
    display: flex;
    align-items: flex-start;
    padding: 0px;
    max-width: 1014px;
    font-family: "Inter-Regular";
    max-height: -webkit-fill-available;
    margin-top: 80px;
    margin-left: 80px;
}


.legalNoticeText {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    text-wrap: pretty;
    max-height: calc(100vh - 240px);
}


.legalNoticeText h1 {
    font-size: -webkit-xxx-large;
    margin-top: 0;
}


.legalNoticeText h2 {
    margin: 0;
}


.legalNoticeText h3 {
    margin-bottom: 0;
}


.legalNoticeText p {
    margin: 0;
}


.legalNoticeText ul {
    margin: 0;
}


.legalNoticeText::-webkit-scrollbar {
    display: none;
}


body::-webkit-scrollbar {
    display: none;
}


.backArrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 37px;
    z-index: 999;
    margin-right: 50px;
}


.backArrow:hover {
    width: 38px;
    height: 38px;
    background-color: #EEEEEE;
    border-radius: 18px;
}