.legalNoticeContent {
    display: flex;
    align-items: flex-start;
    padding: 0px;
    max-width: 1014px;
    font-family: "Inter-Regular";
    height: calc(100vh - 216px);
    margin-top: 80px;
    margin-left: 80px;
}


.legalNoticeText {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    text-wrap: pretty;
    max-height: calc(100vh - 240px);
}


.legalNoticeText h1 {
    font-size: -webkit-xxx-large;
    margin-top: 0;
}


.legalNoticeText h2 {
    margin: 0;
    font-weight: 700;
    font-size: 27px;
    line-height: 120%;
}


.legalNoticeText h3 {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 27px;
    line-height: 120%;
}


.legalNoticeText p {
    margin: 0;
}


.legalNoticeText ul {
    margin: 0;
}


.legalNoticeText::-webkit-scrollbar {
    display: none;
}


.privacyPolicyText::-webkit-scrollbar {
    display: none;
}


.privacyPolicyText {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    text-wrap: pretty;
    max-height: calc(100vh - 240px);
}


.privacyPolicyText h1 {
    font-size: -webkit-xxx-large;
    margin-top: 0;
}


.privacyPolicyText h2 {
    margin: 0;
    font-weight: 700;
    font-size: 27px;
    line-height: 120%;
}


body::-webkit-scrollbar {
    display: none;
}


.backArrow a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 37px;
    z-index: 999;
    margin-right: 50px;
}


.backArrow img:hover {
    width: 38px;
    background-color: #EEEEEE;
    border-radius: 18px;
}


dl {
    display: flex;
}


dt {
    margin: 0;
    font-weight: 1000;
    font-size: 35px;
    line-height: 120%;
}


dd p {
    margin: 0;
}


.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    position: absolute;
    top: 136px;
    right: 20px;
    background-color: #2A3647;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 150px;
    height: 158px;
    border-radius: 20px 0px 20px 20px;
    padding: 10px 10px 0 10px;
}


.dropdown-content a {
    color: #A5A8Ac;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-wrap: nowrap;
}


.dropdown-content a:hover {
    background-color: #2A3D59;
}


.show {
    display: block;
}


.initials {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 56px;
    border: solid 3px black;
    border-radius: 33px;
}


.initials:hover {
    cursor: default;
}