* {
    margin: 0;
    padding: 0;
    transition: 0.2s linear;
    font-family: "Inter-Regular";
    scroll-behavior: smooth;
    box-sizing: border-box;
}

#content {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#content.visible {
    opacity: 1;
}


@font-face {
    font-family: "Inter-Regular";
    src: url("./fonts/inter-v12-latin-regular.woff2") format('woff2');
}

@font-face {
    font-family: "Inter-700";
    src: url("./fonts/inter-v12-latin-700.woff2") format('woff2');
}

body {
    height: 100vh;
    background-color: #F6F7F8;
}

.d-none {
    display: none;
}

.overflow-wrapper {
    height: 100vh;
}

.logo-big {
    position: absolute;
    width: 274px;
    height: 334.07px;
    transition: 1s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo-small {
    width: 100.03px;
    height: 121.97px;
    position: absolute;
    top: 80px;
    left: 77px;
    transition: 1s;
    z-index: 1000;
}

.log-in-layout {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    justify-content: space-between;
    width: 652px;
    height: 493px;
    transition: 1s;
    top: calc(50% - 493px / 2);
    left: calc(50% - 652px / 2);
    border-radius: 30px;
    box-shadow: 0px 0px 14px 3px #0000000A;
    padding: 48px;
}

.log-in-title {
    font-size: 47px !important;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 89px;
    width: 315px;
}

h1 {
    font-family: "Inter-700";
    font-size: 47px;
}

.separator {
    height: 16px;
    width: 150px;
    border-bottom: 3px solid #29ABE2;
}

.error-message {
    color: red;
    font-size: 16px;
    display: none; /* Standardmäßig versteckt */
    width: 300px;
    position: absolute;
    margin-bottom: 64px;
}

.credentials {
    height: 196px;
    width: 422px;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.m-top24 {
    margin-top: 16px;
}

.login-credentials {
    padding-right: 8px;
    border: 1px solid #D1D1D1;
    display: flex;
    gap: 32px;
    border-radius: 10px;
    padding-left: 16px;
    justify-content: space-between;
    height: 48px;
    width: 422px;
    align-items: center;
}

input {
    border: none;
    gap: 32px;
    flex-grow: 1;
    outline: none;
    font-size: 20px;
}

.login-credentials:focus-within {
    border: 1px solid #000;
}

.rememberMe {
    font-family: "Inter-Regular";
    font-size: 16px;
    font-weight: 400;
    width: calc(422px - 42px * 2);
    height: 24px;
    justify-content: center;
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.rememberMe-button {
    height: 16px;
    width: 16px !important;
    cursor: pointer;
    flex-grow: 0;
}

.rememberMe-text {
    cursor: pointer;
}

.login-guest-login-buttons {
    /* Frame 176 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;

    width: 322px;
    height: 48px;


    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

.login-button {
    /* Button wo icon */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 24px;
    gap: 10px;
    width: 110px;
    height: 48px;
    transition: transform 0.3s ease;
    background: #2A3647;
    border-radius: 8px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    /* Text */
    color: white;
    font-family: "Inter-700";
    font-size: 18px;
    line-height: 25.2px;
}

.login-button:hover {
    cursor: pointer;
    transform: scale(1.1);
    background: #29ABE2;
    border: #29ABE2;
}

.guest-login-button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 24px;
    gap: 10px;
    transition: transform 0.3s ease;
    width: 177px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #2A3647;
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;

    color: #2A3647;

    /* Text */
    font-family: "Inter-700";
    font-size: 18px;
    line-height: 25.2px;

}

.guest-login-button:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: #29ABE2;
    border: 1px solid #29ABE2;
}

.footer {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 3%;
}

.footer a {
    text-decoration: none;
    margin: 0 10px;
    color: #A8A8A8;
}

.footer a:hover {
    color: #29ABE2;
}

.not-a-user-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 35px;
    font-family: "Inter-Regular";
    width: 279px;
    height: 49px;
    top: 5%;
    left: 65%;
}

.not-a-user-text {
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.not-a-user-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 16px;
    gap: 10px;
    color: #FFFFFF;
    text-decoration: none;
    width: 91px;
    height: 49px;
    background-color: #2A3647;
    width: 91px;
    height: 49px;
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;

}

.not-a-user-button:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: #29ABE2;
    border: #29ABE2;
}

@media (max-width: 1050px) {

    .input-section{
        height: 192px; 
    }

    .cred-icon {
        padding: 0 !important;
    }

    input {
        width: 100px;
        font-size: 16px;
    }

    .log-in-layout {
        width: 95%;
        height: 60%;
        padding: 20px;
        top: 48%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .log-in-title {
        width: 100%;
        height: 139px;
        margin-bottom: 24px;
    }

    h1 {
        font-size: 40px;
    }


    .credentials {
        width: 100%;
    }

    .login-credentials {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 12px 21px;
        gap: 10px;
        width: 100%;
        height: 40px;
        background: #FFFFFF;
        border: 1px solid #D1D1D1;
        border-radius: 10px;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }

    .login-button,
    .guest-login-button {
        width: 100%;
        height: 40px;
        margin-top: 10px;
        font-size: 16px;
    }

    .not-a-user-container {
        display: flex;
        justify-content: center;
        position: absolute;
        width: 80%;
        left: 14%;
    }

    
    .login-guest-login-buttons {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 5px;
        width: 180px;
        height: 123px;
        margin: 8px;
        font-size: 16px;
    }

    .logo-small {
        position: sticky;
        width: 64px;
        height: 78.03px;
        left: 0;
        top: 5%;
        margin: 16px;
    }

    .not-a-user-container {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
        font-family: "Inter-Regular";
        height: 49px;
        top: 83%;

    }

    .not-a-user-text {
        font-family: 'Inter-Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
    }

    .not-a-user-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 16px;
        gap: 10px;
        color: #FFFFFF;
        text-decoration: none;
        width: 104px;
        height: 40px;
        background: #2A3647;
        border-radius: 8px;
        flex: none;
        order: 1;
        flex-grow: 0;
        transition: transform 0.3s ease;
    }

    .rememberMe{
     width: 80%;
    }
}
