* {
    margin: 0;
    padding: 0;
    transition: 0.2s linear;
    font-family: "Inter-Regular";
    scroll-behavior: smooth;
    box-sizing: border-box;
}

@font-face {
    font-family: "Inter-Regular";
    src: url("./fonts/inter-v12-latin-regular.woff2") format('woff2');
}

@font-face {
    font-family: "Inter-700";
    src: url("./fonts/inter-v12-latin-700.woff2") format('woff2');
}

body {
    background-color: #F6F7F8;
}

.overflow-wrapper {
    height: 100vh;
}

.logo-big {
    position: absolute;
    width: 150px;
    height: 150px;
    transition: 1s;
    top: calc(50% - 150px / 2);
    left: calc(50% - 150px / 2);
}

.logo-small {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 20px;
    left: 20px;
    transition: 1s;
}

h1 {
    font-family: "Inter-700";
    font-size: 61px;
}

.log-in {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 652px;
    height: 493px;
    transition: 1s;
    top: calc(50% - 493px / 2);
    left: calc(50% - 652px / 2);
    border-radius: 30px;
    box-shadow: 0px 0px 14px 3px #0000000A;
    padding: 48px;
}

.separator {
    height: 16px;
    width: 150px;
    border-bottom: 3px solid #29ABE2;
}

.email-credentials {
    border: 1px solid #D1D1D1;
    display: flex;
    border-radius: 10px;
    padding-left: 16px;
    justify-content: space-between;
    height: 48px;
    align-items: center;
}


.credentials {
    margin-top: 32px;
    height: 196px;
    width: 422px;
}

input {
    border: none;
    gap: 8px;
    flex-grow: 1;
}


.cred-icon {
padding-right: 16px;
height: 24px;
}