* {
    margin: 0;
    padding: 0;
    transition: 0.2s linear;
    font-family: "Inter-Regular";
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Inter-Regular";
    src: url("./fonts/inter-v12-latin-regular.woff2") format('woff2');
}

@font-face {
    font-family: "Inter-700";
    src: url("./fonts/inter-v12-latin-700.woff2") format('woff2');
}

.overflow-wrapper {
    height: 100vh;
}

.logo-big {
    position: absolute;
    width: 150px;
    height: 150px;
    transition: 1s;
    top: calc(50% - 150px / 2);
    left: calc(50% - 150px / 2);
}

.logo-small {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 20px;
    left: 20px;
    transition: 1s;
}

h1 {
    font-family: "Inter-700";
    font-size: 61px;
}