.maincontainer {
   
    margin-top: 206px;
    margin-left: 328px;
}

.headlineContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 73px;
    width: 625px;
}

h1 {
    font-size: 61px;
    font-weight: 700;
}