.headlineContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 625px;
    margin-top: 50px;
}

.mainContainer {
    margin-left: 94px;
}

h1 {
    font-size: 61px;
    font-weight: 700;
    justify-content: flex-start;
    margin: 0;
    font-family: "Inter-700";
}

.headerText {
    font-size: 27px !important;
}

.TaskContainer {
    width: 560px;
    height: 562px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 7%;
}

.toDo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 18px;
    width: 47%;
    height: 168px;
    left: 0px;
    top: calc(50% - 168px/2);
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.toDoDoneContainer {
    width: 560px;
    height: 168px;
    display: flex;
    justify-content: space-between;
}

.count {
    font-size: 64px;
    font-weight: 600;
}

.align {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 69px;
    height: 69px;
    flex: none;
    order: 0;
    flex-grow: 0;

}

p {
    margin: 0;
    padding: 0;
}

.urgentContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 61px;
    width: 560px;
    height: 168px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.urgentCount {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 18px;
    width: 264px;
    height: 168px;
    left: 0px;
    top: calc(50% - 168px/2);
}

.bottomContainers {
    display: flex;
    justify-content: space-between;
}

.deadline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 13px;
    width: 178px;
    height: 57px;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 24px;
}

.mobileVector{
    display: none;
}

.mobileVector2{
    display: none;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 168px;
    left: 0px;
    top: calc(50% - 168px/2);
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.boxText {
    font-size: 20px;
    text-align: center;
}

.gmName {
    margin-left: 80px;
    width: 100%;
}

.goodMorning {
    font-size: 47px;
    font-weight: 500;
}

.name {
    height: 77px;
    font-family: "Inter-700";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    color: #29ABE2;
    flex: none;
}


h1 {
    font-size: 61px;
    font-weight: 700;
    justify-content: flex-start;
    margin: 0;
    font-family: "Inter-700";
}

.headerText {
    font-size: 27px !important;
}

.TaskContainer {
    width: 560px;
    height: 562px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 7%;
}

.toDo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 18px;
    width: 266px;
    height: 168px;
    left: 0px;
    top: calc(50% - 168px/2);
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    transition: transform 0.2s
}

.toDo:hover{   
    transform: scale(1.1);
    background-color: #2A3D59;
    color: #FFFFFF;

}

.toDoDoneContainer {
    width: 560px;
    height: 168px;
    display: flex;
}

.count {
    font-size: 64px;
    font-weight: 600;
}

.align {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 69px;
    height: 69px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

p {
    margin: 0;
    padding: 0;
}

.urgentContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 560px;
    height: 168px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    transition: transform 0.3s;

}

.urgentCount {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 18px;
    width: 264px;
    height: 168px;
    left: 0px;
    top: calc(50% - 168px/2);
    transition: transform 0.2s;
}

.urgentContainer:hover{
    transform: scale(1.1);
    background-color: #2A3D59;
    color: #FFFFFF;
}

.bottomContainers {
    display: flex;
    justify-content: space-between;
}

.deadline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 13px;
    width: 178px;
    height: 57px;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 24px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 168px;
    left: 0px;
    top: calc(50% - 168px/2);
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    transition: transform 0.2s;
}

.box:hover{
    transform: scale(1.1);
    background-color: #2A3D59;
    color: #FFFFFF;
}

.boxText {
    font-size: 20px;
    text-align: center;
}

.midContainer {
    display: flex;
    align-items: center;
    width: 100%;
}

@media (max-width: 1200px) {

    .headlineContainer {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .gmName{
        font-size: 3px !important;
    }

    h1 {
        font-size: 47px;
        font-weight: 700;
        justify-content: flex-start;
        margin: 0;
        font-family: "Inter-700";
    }

    .count {
        font-size: 40px;
    }

    .boxText {
        font-size: 16px;
    }

    .deadline {
        margin: 0;
    }

    .mainContainer{
        margin-left: 94px;
        margin-top: 24px;
    }

    .midContainer {
        height: 420px;
        width: 420px;
        margin: 0;
        justify-content: space-between;
    }

    .TaskContainer {
        width: 420px;
        height: 420px;
        margin: 0;
        justify-content: space-between;
    }

    .toDo {
        width: 200px;
        height: 128px;
    }

    .box {
        width: 124px;
        height: 128px;
    }

    .urgentContainer {
        width: 420px;
        height: 124px;
        gap: 40px;
    }

    .urgentCount {
        height: 124px;
        width: 120px;
    }

    .deadline{
        width: 140px;
    }

    .deadlineText{
        font-size: 12px;
    }

    .toDoDoneContainer {
        width: 420px;
        height: 128px;
    }

    .icon {
        height: 48px;
        width: 48px;
    }

}


@media (max-width: 500px) {

    html {
        height: 100%;
    }

    .icon{
        height: 32px;
    }

    body {
        height: 50%;
    }

    .midContainer{
        width: 290px;
        height: 350px !important;
    }

    .mainContainer {
        height: 500px;
        width: 320px;
        margin: 0;
        position: relative; /* This makes it a reference for absolutely positioned children */
    }
    


    .headlineContainer {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        height: 50px;
        width: 290px;
        margin-top: 100px;
        margin-left: 24px;
    }


    .gmName{
        display: none;
        width: 250px;
    }

    .name{
        font-size: 32px;
    }

    .goodMorning{
        font-size: 24px;
        width: 250px;
    }

    h1 {
        font-size: 40px;
        font-weight: 700;
        justify-content: flex-start;
        margin: 0;
        font-family: "Inter-700";
    }

    .splitLine {
        display: none;
    }

    .count {
        font-size: 32px;
    }

    .boxText {
        font-size: 12px;
    }

    .deadline {
        margin: 0;
    }

    .deadlineText{
        margin: 0;
    }

    .midContainer {
        height: 300px;
        width: 300px;
        margin: 0;
        justify-content: space-between;
    }

    .TaskContainer {
        width: 300px;
        height: 300px;
        margin-top: 160px;
        justify-content: space-between;
        margin-left: 4%;
    }

    .headerText{
        font-size: 20px !important;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .toDo {
        width: 140px;
        height: 90px;
        border-radius: 15px;
    }

    .box {
        width: 90px;
        height: 90px;
        border-radius: 15px;
    }

    .urgentContainer {
        width: 300px;
        height: 90px;
        gap: 0px;
        border-radius: 15px;
        justify-content: space-around;
    }

    .mobileVector{
        display: block;
    }  
    
    .mobileVector2{
        display: block;
    }

    .vector-urgent {
        display: none;
    }

    .urgentCount {
        height: 80px;
        width: 120px;
    }

    .deadline{
        width: 140px;
    }

    .deadlineText{
        font-size: 12px;
    }

    .toDoDoneContainer {
        width: 300px;
        height: 90px;
    }

    .icon {
        height: 48px;
        width: 48px;
    }

}