<form class="task-form">

    <h1>Add Task</h1>

    <div class="input-wrapper">

        <div class="input-left">
            <span class="input-name">Title<span style="color: red">*</span></span>
            <div class="task-title">
                <input type="text" id="taskTitle" placeholder="Enter a title" required
                    title="Please enter at least one word.">
            </div>
            <span class="input-name">Description</span>
            <div class="task-title task-text">
                <textarea id="taskDescription" placeholder="Enter a Description" required
                    title="Please enter at least one word."></textarea>
            </div>

            <span class="input-name">Assigned to</span>

            <div id="category-wrapper" class="category-wrapper excludedObject">
                <div class="contact-list-open">
                    <div onclick="showContactDrp()" id="assign-field" class="category-field">
                        <div class="assign-contact">
                            <p>Select contacts to assign</p>

                            <div class="arrow-drp-dwn">
                                <img id="arrow-drp-dwn" src="./img/arrow_drop_down.svg" alt="">
                            </div>

                        </div>
                    </div>
                    <div id="contact-drp-dwn" class="contacts-drp-list d-none">
                        <div id="contact-content" class="dropdown-category-content">
                            <div class="contact-in-list pddng-12">
                                <div class="flex-center">
                                    <div class="initialsContact-small">LM</div>
                                    <span class="pddng-lft-12">Lisa Müller</span>
                                </div><img src="./img/check-button.svg" alt="">
                            </div>
                            <div class="contact-in-list pddng-12">
                                <div class="flex-center">
                                    <div class="initialsContact-small">LM</div>
                                    <span class="pddng-lft-12">Lisa Müller</span>
                                </div><img src="./img/check-button.svg" alt="">
                            </div>
                            <div class="contact-in-list pddng-12">
                                <div class="flex-center">
                                    <div class="initialsContact-small">LM</div>
                                    <span class="pddng-lft-12">Lisa Müller</span>
                                </div><img src="./img/check-button.svg" alt="">
                            </div>
                            <div class="contact-in-list pddng-12">
                                <div class="flex-center">
                                    <div class="initialsContact-small">LM</div>
                                    <span class="pddng-lft-12">Lisa Müller</span>
                                </div><img src="./img/check-button.svg" alt="">
                            </div>
                            <div class="contact-in-list pddng-12">
                                <div class="flex-center">
                                    <div class="initialsContact-small">LM</div>
                                    <span class="pddng-lft-12">Lisa Müller</span>
                                </div><img src="./img/check-button.svg" alt="">
                            </div>
                            <div class="contact-in-list pddng-12">
                                <div class="flex-center">
                                    <div class="initialsContact-small">LM</div>
                                    <span class="pddng-lft-12">Lisa Müller</span>
                                </div><img src="./img/check-button.svg" alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
        <div class="separator"></div>
        <div class="input-right">
            <span class="input-name">Due date<span style="color: red">*</span></span>
            <div class="task-title">
                <input class="task-date" type="date" id="taskDate" placeholder="dd/mm/yyyy" required
                    title="Please enter date">
            </div>
            <span class="input-name">Prio</span>
            <div class="prio-buttons">
                <div onclick="prioritySelected('prio-alta', 'prio-select-red', 'prio-select')" id="prio-alta"
                    class="task-title prio-task prio-alta">
                    <p>Urgent</p>
                    <img src="./img/prio-alta.svg" alt="">
                </div>
                <div onclick="prioritySelected('prio-media', 'prio-select-orange', 'prio-select')" id="prio-media"
                    class="task-title prio-task prio-media">
                    <p>Medium</p>
                    <img src="./img/prio-media.svg" alt="">
                </div>
                <div onclick="prioritySelected('prio-baja', 'prio-select-green', 'prio-select')" id="prio-baja"
                    class="task-title prio-task prio-baja">
                    <p>Low</p>
                    <img src="./img/prio-baja.svg" alt="">
                </div>
            </div>


            <span class="input-name">Category<span style="color: red">*</span></span>
            <div onclick="showCategoryDrp()" class="category-wrapper excludedObject">
                <div class="contact-list-open">
                    <div id="category-field" class="category-field">
                        <div class="assign-contact">
                            <p>Select task category</p>

                            <div class="arrow-drp-dwn">
                                <img id="arrow-drp-dwn2" src="./img/arrow_drop_down.svg" alt="">
                            </div>

                        </div>
                    </div>
                    <div id="category-drp-dwn" class="contacts-drp-list d-none">
                        <div class="dropdown-category-content">
                            <span class="pddng-12 highlight-gray">Technical Task</span>
                            <span class="pddng-12 highlight-gray">User Story</span>
                        </div>

                    </div>
                </div>
            </div>

            <span class="input-name">Subtask</span>
            <div class="task-title">
                <input type="text" id="taskSub" placeholder="Add new subtask" required
                    title="Please enter at least one word.">
                <img class="plus" src="./img/plus.svg" alt="">
            </div>
        </div>
    </div>
    </div>

    <div class="task-lowsection">
        <div class="task-remark" style="font-size: 16px;">
            <span style="color: red">*</span><span>This field is required</span>
        </div>
        <div class="task-buttons">
            <button type="reset" class="cancelButton"
                onclick="displayNone('addContactPopupBackground'), clearInput()">Cancel
                <svg class="iconSVG" width="14" height="14" viewBox="0 0 14 14" fill="#2A3647">
                    <path
                        d="M7.06917 7.00008L12.3122 12.2431M1.82617 12.2431L7.06917 7.00008L1.82617 12.2431ZM12.3122 1.75708L7.06817 7.00008L12.3122 1.75708ZM7.06817 7.00008L1.82617 1.75708L7.06817 7.00008Z"
                        stroke="#2A3647" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>
            <button type="submit" class="createContactButton">Create Task<img src="./img/buttonCheck.svg"></button>
        </div>
    </div>


</form>